watchdog==4.0.1
scapy==2.5.0
dnslib==0.9.24
pygame==2.5.2
flask==3.0.3
flask-socketio==5.3.6
cryptography==42.0.5
python-Levenshtein==0.25.0
requests==2.31.0
win10toast==0.9
plyer==2.1.1
pydub==0.25.1
numpy==1.26.4
tenacity==8.2.3
pywin32==306
jsonschema==4.21.1
